.swap_box {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  min-height: 60px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;
  flex: 1;
}
